<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ieway.evmirror">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 前台服务 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".application.MirrorApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <service
            android:name=".floatwindow.FloatGuardService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".modules.screenshare.GrardService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".modules.screenshare.DisConnectDialog"
            android:theme="@style/activity_dialog" />

        <service
            android:name=".modules.screenshare.ScreenShareService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name=".modules.about.IntentShareActivity"
            android:theme="@style/activity_dialog" />
        <activity
            android:name=".modules.screenshare.ScreenShareActivityNew"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.main.ScanningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.main.HelpTipsActivity"
            android:theme="@style/activity_dialog" />
        <activity
            android:name=".modules.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.link.LinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.welcome.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.other.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".modules.welcome.ShowClauseActivity"
            android:theme="@style/activity_dialog_un" />
        <activity
            android:name=".modules.welcome.WelcomeGuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />
    </application>

</manifest>